.inputbox{
  margin-left:20vw;
  width:20rem;
  height:10px;
  padding:10px;
  box-shadow: 2px 2px 2px 2px ,-1rem red;

}
button{
  margin:10px;
  height:20px;
  background-color: darkred;
  color:aliceblue
}
img{
  display:flex;
  width:200px;
  height:200px;
  flex-direction:column;
  border-radius: 2px 0px 2px 0px;
  margin-left:20%;
  align-items: center;
}
body{

  background-color: black;
}
p{
  margin-left: 20%;
  color:white;
  font-size: x-large;
}
h1{
  color:aquamarine;
  margin-left: 20%;
}